##
## State entry/exit or Transition effect action as function call.
##
##- input vars (in addition to $model, etc.):
##    * $funcCall:  Function Call object
##
##* [SWC 2010.02.09] implemented anew referencing C and new Python templates.
###############################################################################
##
#*--*##set( $funcName = $mapper.sanitize($funcCall.name()) )
#*--*##set( $spc = $mapper.indentation() )
##- there's parameters if callParts has more than 1 element
## Impl should be of StateMachine type, rather than subM/ortho-region type
#*----*##if( $funcCall.argList().isEmpty() )
$spc    ${implName}_${funcName}(me->impl);
#*----*##else
$spc    ${implName}_${funcName}(me->impl, ${mapper.mapArgsToInvocation($funcCall)});
#*----*##end
