##
## Defines the initial transition code up to the actual state transition.
##
##- input vars (in addition to $model, etc.):
##    * $typeObj :  State Machine or Region
##    * $typeName:  Type name of the State Machine or Region object
##    * $isQHsm  :  Flag indicating whether this is Active or Hsm class
##
##* [SWC 2011.08.04] adapted from C++ patterns, added module prefix support
###############################################################################

/**
 * Initial pseudostate of the state machine.
 *
 * This routine handles initial events of the state-machine.
 */
QState ${typeName}_initial (${typeName} *me, QEvent const *e) {
#*--*##unusedParam("e")
#*--*##set( $meUsed = false )

##
## Only if this is a QActive instance AND not mission-specific configuration:
##  obtain unique signals thru list of transitions in state machine
##  with signal events and time events
##
#*--*##if( !$isQHsm && !$autocoder.configOptionTrue("config.suppress.qasubs") )
#*----*##set( $signalEvSet = $model.getTransitionSignalEvents($typeObj) )
#*----*##set( $completionSet = $model.getCompletionSignalSet($typeObj, $mapper) )
#*----*##if( !($signalEvSet.empty && $completionSet.empty) )
#*------*##set( $meUsed = true )
    /**
     * Subscribe to all the signals to which this state machine needs
     * to respond. This includes all the signals defined for any
     * reachable submachines as well.  The signals are stored in the
     * ownedMember association of the UML Namespace class.
     */
    if (me->active == (QActive *)me) {
#*------*##foreach( $signalEv in $signalEvSet )
        QActive_subscribe(me->active, $mapper.mapSignalEventToName($signalEv));
#*------*##end
#*------*##if( !$completionSet.empty )
        // Subscribe to "internal" events for completion transition.
#*------*##end
#*------*##foreach( $completionEv in $completionSet )
        QActive_subscribe(me->active, ${completionEv});
#*------*##end
    }  // Do NOT subscribe to events if a submachine

#*----*##end
#*--*##end
##
## Cause GUI to exit any final states in the state machine
## [SWC 2012.01.23] For now, don't worry about custom-tracing final state exits
##
#*--*##if( $autocoder.executionTraceOn )
#*----*##set( $finalStateSet = $model.sort($model.getFinalStates($typeObj)) )
#*----*##if( !$finalStateSet.empty )
#*------*##set( $meUsed = true )
    // cause trace GUI to unhighlight FinalState
    char logMsg[#logMsgLength()];
#*------*##foreach( $finalState in $finalStateSet )
#*--------*##set( $fStateName = $mapper.mapToFunctionName($finalState) )
    strncpy(logMsg, me->objName, #logMsgLength());
    strncat(logMsg, " ${fStateName}", #logMsgLength()-#safeStrlen('logMsg')-1/*null-char*/);
    strncat(logMsg, " EXIT", #logMsgLength()-#safeStrlen('logMsg')-1/*null-char*/);
    LogEvent_log(logMsg);
#*------*##end

#*----*##end
#*--*##end
#*--*##if( !$meUsed )
#*----*##unusedParam("me")
#*--*##end
##
## Next, should transition to the initial state
##
