##
## Generate Exit condition code, first-half:
##
##- input vars (in addition to $model, etc.):
##    * $state:  the State Machine state to implement
##
##* [SWC 2011.08.04] adapted from C++ patterns, added module prefix support
###############################################################################

    case Q_EXIT_SIG:
##
## stop Do activity
###*--*##if( $model.hasDoActivity($state) )
##        // Destroy instance and kill doActivity thread if alive...
##        if this->doThread.isAlive() == True:
##            this->doThread.kill()
##        del this->doThread
##
###*--*##end
#*--*##traceStateExit($state, $stateName)
