##
## Generate Exit condition code, after the action list:
##
##- input vars (in addition to $model, etc.):
##    * $state:  the State Machine state to implement
###############################################################################
## disable Timers
#*--*##foreach( $event in $model.getTimeEvents($state) )## usually just one
#*----*##set( $timerName = $mapper.mapTimeEventToTimer($event) )
#*----*##if( $isQHsm )
        me->parent->${timerName}->disarm();
#*----*##else
        me->${timerName}->disarm();
#*----*##end
#*--*##end
##
## exit from orthogonal subregions
#*--*##foreach( $localRegion in $model.getChildOrthogonalRegions($state) )
#*----*##set( $lRegionType = $mapper.mapToQualifiedName($localRegion) )
#*----*##set( $varname = $mapper.mapToVarName($localRegion) )
        me->${varname}->dispatch(&${smName}::_BAIL_EVENT_);
        (static_cast<${lRegionType}*>(me->${varname}))->reInit();
#*--*##end
##
## exit from submachines
#*--*##if( $state.submachineState )
#*----*##set( $submName = $mapper.mapToTypeName($state.submachine) )
#*----*##set( $stateVarName = $mapper.mapToVarName($state) )
        me->${stateVarName}->dispatch(&${smName}::_BAIL_EVENT_);
        (static_cast<${submName}*>(me->${stateVarName}))->reInit();
#*--*##end
        return Q_HANDLED();
